# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/client/node_modules
/client/.pnp
/client/.pnp.js

# testing
/client/coverage

# production
/client/build

# misc
/client/.DS_Store
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local

/client/yarn.lock
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*

# Ignore .vs directory
/server/.vs
/client/.vs

# Ignore bin and obj directories
/server/DevPortfolio/obj
/server/DevPortfolio/bin

# Ignore appSettings
/server/DevPortfolio/appsettings.Development.json

# Ignore user-specific service dependencies
/server/DevPortfolio/Properties/serviceDependencies.DevPortfolio20240614070249 - Web Deploy.json.user

# Ignore user-specific project files
/server/DevPortfolio/DevPortfolio.csproj.user

# Ignore configuration files
/server/DevPortfolio/.config/