.skills__list {
  max-width: 600px;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills__list-item {
  margin: 0.5em;
  border-radius: 5px;
}

.skills__category-title {
  text-align: center;
  margin-top: 0.5em;
}
